.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
  background-color: #FBF8F5;
}

.page-content {
  flex: 1;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
}

.header {
    background-color: #EEE6DC;
    padding: 10px 0;
    z-index: 10;
    height: 180px;
    position: relative;
}

.header-actions {
    display: block !important;
    min-width: 100px;
    text-align: right;
}

.header-content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    min-height: 100%;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
    position: absolute;
    z-index: 1;
    pointer-events: auto;
}

.login-button {
    background-color: #483d43;
    color: white;
    padding: 12px 30px;
    margin: 48px;
    border-radius: 20px;
    z-index: 9999;
    box-shadow: 0 4px 6px rgb(0, 0, 0, 0.1);
    border: none;
    outline: none;
    cursor: pointer !important;
    position: relative;
}

.login-button:hover {
    background-color: #483d43;
    outline: none;
    box-shadow: 0 6px 12px rgb(0, 0, 0, 0.25);
    opacity: 0.8;
}

.user-nav {
    display: flex;
    gap: 10px;
    align-items: center;
    position: relative;
    z-index: 1001;
}

.profile-button {
    background: #F7F7F7;
    color: #483d43;
    padding: 12px 30px;
    margin: 48px;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgb(0, 0, 0, 0.1);
    font-weight: 500;
    cursor: pointer;
    position: relative;
    z-index: 1002;
    pointer-events: auto;
    outline: none;
    border: none;
}

.profile-button:hover {
    background-color: #F7F7F7;
    outline: none;
    box-shadow: 0 6px 12px rgb(0, 0, 0, 0.25);
}
