.profile-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-bottom: 40px;
}

.profile-avatar {
    width: 80px;
    height: 80px;
    background-color: #968BB3;
    color: white;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0 6px 12px rgba(0,0,0,0.3);
}

.info {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    color: #483d43;
}

.favorites-section-header {
    font-size: 2rem;
    color: #483d43;
    padding: 15px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
}

.books-grid {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.favorite-card-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    position: relative;
}

.remove-fav-button{
    width: 30px;
    height: 30px;
    min-width: 30px;
    background-color: #FBF8F5;
    font-size: 1.5rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    border: none;
}

.remove-fav-button:hover {
    background-color: #FBF8F5;
    outline: none;
    opacity: 0.8;
}

.no-favorites-info {
    text-align: center;
    color: #483d43;
    grid-column: 1 / -1;
    padding: 40px;
}

.logout-button {
    background: #c25352;
    color: white;
    padding: 12px 30px;
    margin-top: 48px;
    margin-left: 8px;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgb(0, 0, 0, 0.1);
    font-weight: 500;
    cursor: pointer;
    position: relative;
    z-index: 1002;
    pointer-events: auto;
    outline: none;
    border: none;
}

.logout-button:hover {
    background-color: #c25352;
    outline: none;
    box-shadow: 0 6px 12px rgb(0, 0, 0, 0.25);
    opacity: 0.8;
}